.header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: whitesmoke;
    padding: 20px;
}

.header-content {
    max-width: 960px;
}

.header h1 {
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: .15em;
    border-right: .15em solid #181733;
    margin-top: 100px;
    font-size: 60px;
    margin-bottom: 0.5em;
    color: #181733;
    padding-bottom: 20px;
        animation: 
            typing 1.5s steps(40, end) forwards,
            blink-caret-stop 0.3s step-end forwards 1.5s;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret-stop {
    from { border-right-color: #181733; }
    to { border-right-color: transparent; }
}

.header-description {
    font-size: 40px;
    color: #181733;
    border-right: .15em solid #181733;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    opacity: 0;
    
    animation: typing 1.5s steps(30, end) forwards 1.5s,
             blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
        opacity: 1;
    }
    to {
        width: 100%;
        opacity: 1;
    }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #181733 }
}


.projects-button-wrapper {
    margin-bottom: 40px;
    margin-top: 20px;
}

.projects-button {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #A50044;
    border: none;
    padding: 15px 40px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.projects-button:hover {
    background-color: #181733;
}

