.sidebar {
    position: fixed;
    top: 65%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.sidebar a {
    margin: 10px 0;
}

.sidebar img {
    width: 40px;
    height: auto;
}
.sidebar.fixed-sidebar {
    position: absolute;
    top: 420px;
}


@media (max-width: 1000px) {
    .sidebar {
        display: none;
    }
}
