
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'SANTELLO';
  src: url('../public/fonts/SANTELLO.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'SANTELLO', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #181733;
}

#root {
  width: 100%;
}
